html,body{
    height: 100%;
    margin: 0;
    background: #43C6AC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container{
    padding-top: 60px;
}
section{
    width: 70%;
    margin: 20px auto;
    background-color: #43C6AC;
    background: #ffffff00;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border-radius: 10px;
    padding: 20px;
    line-height: 1.7;
}
img{
    width: 100%;
    padding: 10px;
    margin: 20px auto;
    border-radius: 5%;
    transition: ease-in-out 150ms;
}
img:hover{
    border-radius: 50%;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}
h2{
    margin: 12px;
}
.hrstyle {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), white, rgba(0, 0, 0, 0));
}
body::-webkit-scrollbar {
    width: 15px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #43C6AC;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color:#F8FFAE;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #43C6AC;  /* creates padding around scroll thumb */
  }